{{define "sidebar"}}
<aside>
    <a href="/application/new">Basic</a>
    <a href="/application/new">Contact Numbers</a>
    <a href="/application/new">Addresses</a>
    <a href="/application/new">Employment Details</a>
</aside>
{{end}}
